.form-section {
  border: 1px solid #f0f0f0;
  border-radius: 8px;
  padding: 1.5rem;
  margin-bottom: 1.5rem; /* Adicionado para separar as seções */
}

.form-section h2 {
  margin-top: 0;
  margin-bottom: 1.5rem;
  color: var(--cor-primaria);
}

.input-group {
  position: relative;
  margin-bottom: 1rem;
}

.input-group label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: 500;
  color: #555;
}

.search-results {
  list-style: none;
  padding: 0;
  margin: 0.5rem 0 0 0;
  border: 1px solid #ddd;
  border-radius: 4px;
  max-height: 200px;
  overflow-y: auto;
  position: absolute;
  background-color: white;
  width: 100%;
  z-index: 10;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.search-results li {
  padding: 0.75rem;
  cursor: pointer;
  border-bottom: 1px solid #eee;
}

.search-results li:last-child {
  border-bottom: none;
}

.search-results li:hover {
  background-color: #f5f5f5;
}

.btn-link {
  background: none;
  border: none;
  color: var(--cor-primaria);
  text-decoration: underline;
  cursor: pointer;
  font-size: 0.9rem;
  padding: 0;
  font-weight: normal;
}
.btn-link:hover {
  background-color: transparent;
  color: var(--cor-primaria-hover);
}

.emprestimo-detalhes {
  margin-top: 1rem;
  padding: 1.5rem;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.emprestimo-detalhes h4 {
  margin-top: 0;
}

.emprestimo-detalhes button {
  margin-top: 1rem;
}

.resultado-devolucao {
  margin-top: 1rem;
  padding: 1.5rem;
  border-radius: 8px;
  background-color: #f0fdf4; /* Verde claro */
  border: 1px solid #bbf7d0; /* Verde mais escuro */
}

.resultado-devolucao h3 {
  margin-top: 0;
  color: #15803d; /* Verde escuro */
}

.resultado-devolucao p {
  margin: 0.5rem 0;
  font-size: 1.1rem;
}

.resultado-devolucao .multa {
  color: #d93025;
  font-weight: bold;
  font-size: 1.2rem;
}

.mensagem {
  text-align: center;
  font-weight: bold;
  padding: 1rem;
  border-radius: 8px;
}

.mensagem-erro {
  color: #d93025;
  background-color: #fbeae9;
}
