.navbar {
    background-color: var(--cor-fundo);
    padding: 1rem;
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 2rem;
    border-bottom: 1px solid #f0f0f0;
}

.navbar button {
    background-color: transparent;
    color: var(--cor-texto);
    border: 1px solid transparent;
    padding: 0.5rem 1rem;
    cursor: pointer;
    border-radius: 8px;
    font-weight: 500;
    font-size: 1rem;
}

.navbar button:hover {
    background-color: #f7f7f7;
    border-color: var(--cor-borda);
}